<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>BB59F02F-3CDE-40E6-8CCA-4FBC9A356A09</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
